
.header{
    width: 100%;
    height: auto;
    background-color: aqua;
}

.listItems{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
}

.item{
    padding-left: 5rem;
    
}

.link{
    text-decoration: none;
    
}
