.home {
    display: flex;
    position: relative;
    height: 952px;
    width: 100%;
    background: #fffdfe url(../../../../public/images/header-background.jpg)  no-repeat top center;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    .banner-text {
        justify-content: center;
        width: 85%;
        .headText {
            color: whitesmoke;
            font-size: 4rem;
            font-family: "opensans-bold", sans-serif;
        }
        .container-subText {
            display: flex;
            justify-content: center;
            padding-top: 0.6rem;
            .subText {
                font: 1.2rem "librebaskerville-regular", serif;
                color: #a8a8a8;
                text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
                letter-spacing: normal;
                span {
                    color: #fffdfe;
                }
            }
        }
        hr {
            width: 60%;
            margin: 1.8rem auto 1.5rem auto;
            border-color: #2f2d2e;
            border-color: rgba(150, 150, 150, 0.1);
        }
        .socialIcons {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding-top: 1.5rem;
            position: relative;
            right: 1rem;
            .ContainerIcons {
                padding-left: 1.8rem;
                .Icons {
                    color: whitesmoke;
                    font-size: 1.8rem;
                    transition: all 0.5s;
                    &:hover {
                        color: aquamarine;
                        transform: translateY(-10px);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}











